.splash {
  min-height: 100vh;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff, #ffffff 80%, transparent 80%, transparent 100%);
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-top: -25%;
}

.button-container {
  display: flex;
  justify-content: center;
  /* Center the buttons vertically */
  align-items: center;
  /* Center the buttons horizontally */
}


.triangle-button {
  background-color: coral;
  /* Button background color */
  color: #ffffff;
  /* Button text color */
  text-decoration: none;
  padding: 20px;
  margin: 40px;
  /* Adjust the spacing between buttons */
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 40vh;
}


.triangle-button:hover::after {
  width: 100%;
  height: 100%;
}

/* .mobileshow {
    display: none;
  }


  */

.mobileshow {
  display: none;
}

@media (max-width: 768px) {
  .mobileshow {
    display: block;
  }

  .hideme {
    display: none;
  }

  .linktext {
    text-decoration: underline;
  }
}