.navbar {
  background-color: #000000;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  margin: 0;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-family: 'DM Serif Display', serif;
  padding: 10px;
  transition: transform 0.2s, background-color 0.2s;
}

/* Hover effect */
.nav-link:hover {
  transform: translateY(-2px);
  background-color: #c9d7f2;
}

@media (max-width: 768px) {
  .logoContainer {
    display: none;
  }
}